@import url('https://fonts.googleapis.com/css?family=Abel');

.tengah h3 {
    font-size: 18px;
    margin-top: 23px;
    margin-bottom: -2px;
}

p {
	font-size: 12px;
}

.card {
	max-width: 400px;
	flex-direction: row;
	border-radius: 6px;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	margin: 1%;
	box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
}

.warna {
	background-color: rgb(18,203,215);
    width: 30%;
}

img.whatsapp {
    display: block;
    margin-top: 0;
}

img.daging {
    display: block;
    margin: auto;
    margin-top: 24px;
}


.tengah {
	width: 50%;
	background-color: white;
	padding-left: 10px;
	padding-top: 5px;
}

.kanan {
	width: 20%;
    background-color: white;
    margin: auto;
	padding: 10px;
}
